.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.content {
  width: var(--max-width);
  min-height: 100vh;
  margin: 3.5rem auto;
  padding: 0rem 1rem;
}

@media only screen and (max-width: 767px) {
  .content {
    width: 100%;
    margin: 2rem auto;
  }
}
